---
import Layout from '../layouts/Layout.astro';
// import CheatViewer from '../components/CheatViewer.tsx';
import reactData from '../data/cheatSheets/react.json';
---

<Layout>
  <div class="max-w-4xl mx-auto">
    <!-- <CheatViewer client:load data={reactData} /> -->
  </div>
</Layout>
